header {
    min-height: 100vh;
    
    .wcome {
        width: 100%;
        height: calc(100vh - 46px);

        @include mixins.flexbox(column);
        justify-content: space-between;

        background-color: variables.$brand-light1;
        
        .lnk-logo {
            min-height: 40vh;

            display: block;

            img {
                display: block;
                height: 100%;

                margin: auto;
                padding: 5vh 0;
            }
        }
        .wcome-m {
            width: 100%;
            height: calc(100% - 50vh);

            @include mixins.flexbox(column);
            justify-content: space-around;
            flex-grow: 2;

            position: relative;
            bottom: 0;

            color: variables.$brand-light1;
            background-attachment: fixed;

            > :nth-child(n) {
                max-width: 80%;

                display: block;

                text-align: center;
            }
            i:nth-last-child(1) {
                position: relative;
                bottom: 0;

                font-size: 2rem;
            }
            h2 {
                margin-top: 5vh;

                font-size: clamp(1.5rem, calc(1rem + 1.5vh), 2rem);
                letter-spacing: 0.02rem;
                font-weight: 700;
                text-shadow: 0 0 10px variables.$brand-dark1;
            }
        }
        @include mixins.backg-img-color-filter('.wcome-m', variables.$img-backg-wcome-m, variables.$brand-dark1-05);
    }
}

@media screen and (min-width: 30em) and (orientation: landscape), (min-width: 50em) {
    header {
        .wcome {
            .lnk-logo {
                max-width: 40vw;
                height: calc(100vh - 46px);

                position: absolute;
                left: 20px;
                z-index: 10;

                img {
                    width: 100%;
                    height: 100%;

                    margin: 0;
                }
            }
            .wcome-m {
                padding-left: 40vw;

                .fa-chevron-down {
                    margin-right: 40vw;
                }
            }
        }
    }
}