header{
    min-height: 100vh;
    
    .wcome{
        width: 100%;
        height: calc(100vh - 46px);

        @include mixins.flexbox(column);
        justify-content: space-between;

        background-color: variables.$brand-light1;
        
        .lnk-logo{
            min-height: 40vh;

            display: block;

            img{
                display: block;
                min-width: 70vw;
                height: calc(100%);

                margin: auto;
                padding: 5vh 0;
            }
        }
        .wcome-m{
            width: 100vw;
            height: calc(100% - 50vh);

            @include mixins.flexbox(column);
            justify-content: space-evenly;
            flex-grow: 2;

            position: relative;
            bottom: 0;

            color: variables.$brand-light1;
            background-attachment: fixed;

            > :nth-child(n){
                max-width: 80%;

                display: block;

                text-align: center;
            }
            i:nth-last-child(1){
                position: relative;
                bottom: 0;

                font-size: 2rem;
            }
            h2{
                margin-top: 4vh;

                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        @include mixins.backg-img-color-filter('.wcome-m', url(../assets/fondo-wcome.jpg), variables.$brand-dark1-05);
    }
}