nav {
    .nav-menu {
        min-height: 100vh;
        min-width: 100%;

        @include mixins.flexbox(column);
        justify-content: center;
        display: none;

        position: fixed;
        z-index: 990;

        background-color: variables.$brand-light1-95;
        font-size: clamp(1rem, 5vh, 1.75rem);
        text-align: center;

        ul {
            display: block;

            position: relative;

            padding-bottom: 50px;
        }
        li a {
            display: inline-block;

            padding: clamp(10px, 5vh, 15px);

            color: variables.$brand-dark1;
        }
        li:nth-child(-n+5) {
            border-bottom: variables.$border1;
        }
        .logo {
            position: absolute;
            top: calc(50vh - 213px);
            right: -150px;
        }
    }
    #nav-hmb {
        display: block;

        position: fixed;
        right: 20px;
        bottom: 30px;
        z-index: 1000;

        font-size: 50px;
        color: variables.$brand-dark1;
        text-shadow: 0 0 20px variables.$brand-light2, 1px 1px 5px variables.$brand-light1-05, -1px 1px 5px variables.$brand-light1-05, 1px -1px 5px variables.$brand-light1-05, -1px -1px 5px variables.$brand-light1-05
    }
    .nav-rrss {
        height: 46px;

        @include mixins.flexbox(row);
        justify-content: flex-start;

        position: relative;

        padding: 10px 20px 10px 20px;

        font-size: 1.3rem;
        background-color: variables.$brand-dark1;

        .rrss {
            padding-right: 5vw;
        }
        li:nth-last-child(1){
            align-self: center;

            position: absolute;
            right: 20px;
        }
    }
}

@media (min-width: 500px) and (orientation: landscape) {
    nav {
        .nav-menu {
            min-width: 50%;

            right: 0;

            ul {
                padding-bottom: 4vh;
            }
        }
    }
}