main{
    section{
        padding: 40px 20px;
    }
    .t-section{
        margin-bottom: 20px;

        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: variables.$brand-dark1;
    }

    /* == <section class="bst-seller"> ===================== */
    .bst-seller{
        @include mixins.flexbox(column);
        .product{
            margin: 10px 0;
        }
    }
    
    /* == <section class="agreemnt"> ===================== */
    .agreemnt{
        @include mixins.flexbox(column);
        
        position: relative;

        color: variables.$brand-light1;
        background-attachment: fixed;
        
        .t-section{
            color: variables.$brand-light1;
        }
        .carousel-indicators{
            bottom: -45px;
        }
        .carousel-inner{
            width: 100vw;
            padding: 20px 0;

            .carousel-item{
                width: 80vw;
                left: 10vw;

                :nth-child(n){
                    text-align: center;
                    text-shadow: 0 0 10px variables.$brand-dark1;
                }
                h3{
                    color: variables.$brand-light2;
                }
            }
        }        
    }
    @include mixins.backg-img-color-filter('.agreemnt', url(../assets/fondo-agreemnt.jpg), variables.$brand-dark1-07);

    /* == <section class="events"> ======================= */
    .events{
        @include mixins.flexbox(column);
        justify-content: space-around;

        :not(a){
            width: 80vw;
        }
        h3{
            font-weight: 600;
        }
        p{
            margin-bottom: 1.75rem;
        }
        iframe{
            height: calc(80vw * 9 / 16);

            margin: 10px 0;
        }
    }    
} 