.button1 {
    padding: 0.65em 1.25em;

    color: variables.$brand-light2;
    background-color: variables.$brand-dark1;
    border-radius: 5px;
    box-shadow: 0 0 12px variables.$brand-light2, 0 0 2px variables.$brand-light2-05 inset;
}
.button1:hover {
    box-shadow: 0 0 12px variables.$brand-light2, 0 0 20px variables.$brand-light2-05 inset;
}