*, h1, h2,h3, p, ul {
    margin: 0;
    padding: 0;
}
dl, ol, ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: variables.$brand-light1;
}
header, main, footer{
    width: 100%;
}